.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.navbar .navbar-menu{
    display: flex;
    gap: 40px;
}
.navbar .navbar-menu .navbar-nav{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-menu{
        margin-top: 20px;
    }
    .navbar-menu,
    .navbar .navbar-menu .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        flex-basis: 80%;
    }
    .collapse-btn{
        flex-basis: 20%;
    }
}